# Compilation files of the application
build/

# Legacy compilation output
bin/
debug/

# Ragger/pytest scratch output
tests/snapshots-tmp/
tests/.pytest_cache/
tests/__pycache__/
tests/application_client/__pycache__/

# Temporary directory with snapshots taken during test runs
tests/snapshots-tmp/

# Unit tests and code coverage
unit-tests/build/
unit-tests/coverage/
unit-tests/coverage.info

# Fuzzing
fuzzing/build/
fuzzing/corpus/
fuzzing/out/

# Python
*.pyc[cod]
*.egg
__pycache__/
*.egg-info/
.eggs/
.python-version

# Doxygen
doc/html
doc/latex

# Virtual env for sideload (macOS and Windows)
ledger/
node_modules/
